*{
    padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
    background-color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
h1 {
    text-align: left;
    font-size: 50px;
    margin: 10px;
}
h4 {
    color: red;
    margin-top: 5px;
    margin-bottom: 5px;
}

.form {
    margin: 15px;
    display: flex;
}
.form tr td {
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
}

.bottoni {
    margin: 15px;
    display: flex;
}
.bottoni input {
    background-color: white;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: background 0.5s;
}
.bottoni input:hover {
    background-color: lightgray;
}